@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loader-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loader {
  border: 5px solid #e1e1e131;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;

  &.yellow {
    border-top: 5px solid #ffe865;
  }

  &.green {
    border-top: 5px solid #6aff97ab;
  }
}

.loader-text{
  margin-top: 10px;
  font-size: calc(2px + 2vmin);
  -webkit-animation: breathing 3s ease-out infinite normal;
  animation: breathing 3s ease-out infinite normal;
}